<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

<!-- ✅ Add Allure TestNG Listener -->
<listeners>
    <listener class-name="io.qameta.allure.testng.AllureTestNg"/>
</listeners>

<test verbose="2" preserve-order="true" name="C:/Users/AARRSOL/IdeaProjects/Scoreboard">
    <classes>
        <class name="org.example.tests.TestSBLogin_POM">
            <methods>
                <include name="testLoginNegativeSB01"/>
                <include name="testLoginNegativeSB02"/>
                <include name="testLoginPostiveSB03"/>
                <include name="testLoginPositiveSB04"/>
            </methods>
        </class>

        <class name="org.example.tests.TestSBogin_PF_DM_QA">
            <methods>
                <include name="testLoginNegativeSB"/>
            </methods>
        </class>
    </classes>
</test>
</suite>
