<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/AARRSOL/IdeaProjects/Scoreboard">
        <classes>
<!--            <class name="org.example.tests.TestVWOLogin_PF_DM_QA">-->
<!--                <methods>-->
<!--                    <include name="testLoginNegativeVWO"/>-->
<!--                </methods>-->
<!--            </class>-->
            <class name="org.example.tests.TestVWOLogin_POM">
                <methods>
                    <include name="testLoginNegativeVWO"/>
                    <include name="testLoginNegativeVWO02"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>